@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');

:root {
  --box-x-padding: 2rem;
  --box-y-padding: 2rem;
}

html,
body {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

/* ----------------------- Global Styles & Custom Classes */
h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 6rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;

}

p {
  font-family: 'futura-pt', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.body-font {
  font-family: 'futura-pt', sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 1.5;
}

.txt-shadow {
  text-shadow: 0 13.36px 8.896px #58585879, 0 -2px 1px #9b9b9bd4;
}

a {
  font-family: 'futura-pt', sans-serif;
  text-decoration: none;
  color: #3c87af;
}

.link-font {
  font-family: 'futura-pt', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  text-decoration: none;
  color: #3c87af;
}

a:hover,
.link-font:hover {
  color: #15394c;
}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 3.45px;
  font-weight: 400;
}

.section-header {
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  font-weight: 410;
  color: rgb(51, 51, 51);
  letter-spacing: 4.5px;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-shadow: 0px 4px 3px rgba(52, 52, 52, 0.36),
    0px 8px 13px rgba(52, 52, 52, 0.305),
    0px 18px 23px rgba(52, 52, 52, 0.16);
}

.small-text {
  font-family: 'futura-pt', sans-serif;
  font-size: 1rem;
}


hr {
  width: 50px;
  border: 1px solid rgb(0, 0, 0);
  margin: 30px auto;
}

/* ----------------------- Navigation */
#logo {
  font-family: 'futura-pt', sans-serif;
  font-size: 1.5rem;
  color: #333;
  letter-spacing: 4px;
}

.navbar a {
  font-size: 110%;
  color: #000000;
}

.btn-nav {
  font-size: 110%;
  color: #000000;
  border: none;
  padding: 8px 0px;
}

.btn-nav:hover {
    color: rgba(0, 0, 0, 0.7);
}

.nav-link:hover {
    color: rgba(0, 0, 0, 0.7);
}

.navbar li, .btn-modal {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: 'futura-pt', sans-serif;
}

.btn-modal {
    border: none;
}

.btn-modal:hover {
    color: rgba(0, 0, 0, 0.7);
}

.gallery-dropdown {
    position: initial;
}

.gallery-dropdown-menu {
    width: 100%;
    border-radius: 0;
    background-color: #fafafa;
}

.dropdown-item, .dropdown-item:hover {
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.7);
}

/* ------------------------------------ Jumbotron */
.center {
  text-align: center;
}

#jumbotron-section {
  clear: both;
  font-family: 'futura-pt', sans-serif;
  position: static;
  height: 100%;
  width: 100%;
}

#jumbotron-title {
  font-family: 'futura-pt', sans-serif;
  color: #0a0a0ae9;
  font-size: 3rem;
  letter-spacing: 3px;
  font-weight: 400;
}

.display-4 {
  position: relative;
  margin-top: 25px;
  height: 80px;
}

p small {
  position: relative;
  height: 100px;
}

.gallery-button {
  height: 250px;
}

.gallery-button p {
  height: 200px;
  position: relative;
  bottom: 0;
}

.gallery-button p a {
  position: relative;
  margin-top: 100px;
}

.jumbotron .btn {
  position: relative;
  border: 1px solid #f0ad4e;
  border-radius: 5px;
  bottom: 0;
}

/* ----------------------- Gallery */
.image {
  grid-row: 1;
  grid-column: 2;
  margin-left: -2rem;
  opacity: 0.7;
  animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
}

.content a {
  text-decoration: none;
  border: 1px solid #b3b3b3;
  border-radius: 1em;
  padding: 1em 2em;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: inherit;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.417)
}

.img {
  position: relative;
}

.img a {
  position: absolute;
  left: 0;
  bottom: 0;
}

img .art {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  box-shadow: 0 0.2em 1.2em rgba(61, 48, 41, 0.1);
}

.artwork-row {
  margin: 20px 0;
}

h2.artwork-title {
  font-family: 'Playfair Display', serif;
  margin: 0 0 1rem;
  position: relative;
  font-size: 1.85rem;
  font-weight: 450;
  color: #282828;
}

 .artist-details {
  font-family: 'futura-pt', sans-serif;
  text-transform: uppercase;
  margin: 0 0 1rem;
  position: relative;
  font-size: 1.35rem;
  background-image: linear-gradient(to left, rgb(111, 25, 181), rgb(168, 105, 213), rgb(0, 162, 255), rgb(14, 164, 14), rgb(237, 191, 23), rgb(255, 153, 0), rgb(234, 13, 13));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 450;
}

.artwork-details {
  font-family: 'futura-pt', sans-serif;
  font-size: 1rem;
  margin-top: 20px;
}

.dates {
  font-family: 'futura-pt', sans-serif;
  font-size: 1rem;
}

p {
  margin-top: 0;
  line-height: 1.5;
}

.caption {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}

.header {
  padding-top: 100px;
}

/* ----------------------- Modal */
.resources li {
  list-style-type: none;
}

.resources a {
  text-decoration: none;
  color: #000000;
}

.resources a:hover {
  color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  border-radius: 0;
  background-image: linear-gradient(to bottom right, violet, indigo, blue, green, yellow, orange, red);
  padding: 3px;
}

.modal-header {
    border-bottom: none;
    background-color: #fafafa;
    border-radius: 0;
}

.modal-body {
  background-color: #fafafa;
}

/* -------------------- About */
#jumbotron-section {
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-main.hero-fade,
div.dark,
div.dark-sm {
  font-family: 'futura-pt', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

/* ------------------------------------- Team page */
div .card {
  border: none;
  margin-right: 0;
  margin-left: 0;
}

.team img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
}

#team-card img {
  border: 5px solid #cf2e2e;
}

#team-card-1 img {
  border: 5px solid #ff6900;
}

#team-card-2 img {
  border: 5px solid #fcb900;
}

#team-card-3 img {
  border: 5px solid #00d084;
}

#team-card-4 img {
  border: 5px solid #0693e3;
}

.card-img-top {
  align-self: center;
}

/* ------------------------------------- Footer */
footer {
  border-top: 5px solid #fcb900;
}

footer p {
  margin: 0;
}

.footer a {
    color: #000000;
    font-family: 'futura-pt', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

/* ------------------------------------- Font Awesome */
.fa-brands, .fab {
  font-family: "Font Awesome 6 Brands";
  font-weight: 600;
  font-size: xx-large;
}

/* ----------------------- Media Queries */
@media (min-width: 40em) {
  .artwork-row {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 6fr 2fr 6fr;
    grid-template-areas:
      '. . title'
      'img img content'
      'img img .';
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
  .artwork-row::after {
    content: '';
    grid-column: 2/-1;
    grid-row: 1/3;
    position: relative;
    z-index: -1;
    /* box-shadow: 1px 3px 6px rgba(47, 47, 47, 0.38); */
    box-shadow: rgba(83, 83, 83, 0.15) 0px 15px 25px, rgba(101, 101, 101, 0.932) 0px 3px 28px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
  }
  h2.artwork-heading {
    grid-area: title;
    font-size: 3em;
    padding-top: var(--box-y-padding);
    padding-left: var(--box-x-padding);
  }
  .content {
    grid-area: content;
    padding-bottom: var(--box-y-padding);
    padding-left: var(--box-x-padding);
    padding-right: var(--box-x-padding);
  }
  .img {
    grid-area: img;
  }
}

@media (min-width: 60em) {
  :root {
    --box-x-padding: 3rem;
    --box-y-padding: 6rem;
  }
}

@media (min-width: 576px) {
    .footer-logo {
      text-align: left !important;
    }
  }

@media screen and (min-width: 768px) {
  #jumbotron-title {
    font-family: 'futura-pt', sans-serif;
    font-size: 5rem;
    letter-spacing: 3px;
    font-weight: 400;
  }

  #jumbotron-icon {
    font-size: 5rem;
  }
  .text-main.hero-fade,
  div.dark,
  div.dark-sm {
    font-family: 'futura-pt', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  .fas.fa-chevron-down {
    margin-top: 150px;
    font-size: 45px;
  }
}

@media screen and (min-width: 992px) {
    .btn-modal {
      padding: 8px;
    }
    .fas.fa-chevron-down {
      margin-top: 100px;
      font-size: 35px;
    }
  }
