@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');

:root {
  --box-x-padding: 2rem;
  --box-y-padding: 2rem;
}

html,
body {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family:'Times New Roman', Times, serif;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
}

/*------------------------Navbar -----------*/

.navbar-brand {
  font-family: 'futura-pt', sans-serif;
  letter-spacing: 1px;
  font-size: 1.25rem;
} 

.navbar {
  font-family: 'futura-pt', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* ----------------------- Navigation*/
#logo {
    float: left;
    font-size: 260%;
    color: #0a0a0a;
    letter-spacing: 4px;
}

#navbar {
    font-size: 110%;
    letter-spacing: 2px;
    margin:0 10px 0 10px;
}

#navbar,
#logo {
    line-height: 75px;
}

#navbar li {
    float: right;
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
}

#navbar a {
    text-decoration: none;
    color:#000000;
}

#navbar a:hover {
    border-bottom: 1px dashed #000000;
    color: #dd7272;
}

/* ----------------------- Gallery */

.image {
    grid-row: 1;
    grid-column: 2;
    margin-left: -2rem;
    opacity: 0.7;
    animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
}

.content a {
    text-decoration: none;
    border: 1px solid #b3b3b3;
    border-radius: 1em;
    padding: 1em 2em;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: inherit;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.417)
  }
  
  .img {
    position: relative;
  }
  
  .img a {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  
  img .art {
    max-width: 100%;
    height: fit-content;
    vertical-align: middle;
    box-shadow: 0 0.2em 1.2em rgba(61,48,41,0.1);
  }
  
h2.artwork-title {
    margin: 0 0 1rem;
    font-family: serif;
    position: relative;
    font-size: 2rem;
}

p {
    margin-top: 0;
    margin-bottom: var(--box-y-padding);
    line-height: 1.5;
  }


h2#parallex-content-1 {
  font-family: 'futura-pt', sans-serif; 
  font-weight: 300;
  padding: 20px;
  line-height: 3.35rem;
  color: #010b0e9f;
  text-shadow: 1px 3px 6px rgba(103, 103, 103, 0.5);
  text-align: center; /* For Edge */
  -moz-text-align-last: center; /* For Firefox prior 58.0 */
  text-align-last: center;
  font-size: 5rem;

}

h3#parallex-content-2 {
  font-family: 'futura-pt', sans-serif; 
  font-weight: 200;
  letter-spacing: 1px;
  color: rgba(147, 147, 147, 0.997);
  text-shadow: 1px 3px 6px rgba(77, 77, 77, 0.22);
  font-size: 1.52rem;
  line-height: 3.35rem;
  text-transform: uppercase;
}

/* -------------------- About */
#bg,
#bg2 {
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  height: 600px;
  max-width: 100%;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-section {
  /* The image used */
  background-image: url(../images/bg.png);
  /* Full height */
  height: 100%; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-main.hero-fade,
div.dark,
div.dark-sm {
  font-family: 'futura-pt', sans-serif; 
  font-size: 20px;
  margin-bottom: 30px;
}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -1px;
  font-weight: 350;
}

@media screen and (min-width: 768px) {
  #parallex-content {
    font-family: 'futura-pt', sans-serif; 
    font-weight: 300;
    letter-spacing: 1px;
    color: #010b0e9f;
    text-shadow: 1px 3px 6px rgba(103, 103, 103, 0.5);
    font-size: 3rem;
    line-height: 3.35rem;
    text-transform: uppercase;
  }
   #parallex-content-2 {
    font-family: 'futura-pt', sans-serif; 
    font-weight: 300;
    letter-spacing: 1px;
    color: #010b0e9f;
    text-shadow: 1px 3px 6px rgba(103, 103, 103, 0.5);
    line-height: 3.35rem;
  }
}

@media screen and (min-width: 1024px) {
  #parallex-content {
    font-family: 'futura-pt', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 2.1rem;
    line-height: 2;
    font-weight: 200;
    color: #04181e8b;
    text-shadow: 0px 0px 6px rgba(41, 41, 41, 0.51);
  }
  #parallex-content-2 {
    font-family: 'futura-pt', sans-serif; 
    font-weight: 300;
    letter-spacing: 1px;
    color: #010b0e9f;
    text-shadow: 1px 3px 6px rgba(103, 103, 103, 0.51);
    font-size: 2.1rem;
    line-height: 2;
}
#bg,
#bg2 {
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  height: 650px;
  max-width: 100%;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
}


/* ----------------------- Media Queries */
@media (min-width: 40em) {
    .artwork-row {
      display: grid;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: 4fr 4fr 5fr;
      grid-template-areas: '. . title' 'img img content' 'img img .';
      max-width: 1000px;
      margin-right: auto;
      margin-left: auto;
    }
    .artwork-row::after {
      content: '';
      grid-column: 2/-1;
      grid-row: 1/3;
      position: relative;
      z-index: -1;
      background-color: #7ea1a66f;
      /* box-shadow: 1px 3px 6px rgba(47, 47, 47, 0.38); */
      box-shadow: rgba(83, 83, 83, 0.15) 0px 15px 25px, rgba(126, 126, 126, 0.932) 0px 3px 28px;
      /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
    }
    h2.project-heading {
        grid-area: title;
        font-size: 3em;
        padding-top: var(--box-y-padding);
        padding-left: var(--box-x-padding);
      }
      .content {
        grid-area: content;
        padding-bottom: var(--box-y-padding);
        padding-left: var(--box-x-padding);
        padding-right: var(--box-x-padding);
      }
      .img {
        grid-area: img;
      }
    }

@media (min-width: 60em) {
    :root {
      --box-x-padding: 3rem;
      --box-y-padding: 6rem;
    }
  }
