* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family:'Times New Roman', Times, serif;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
}
#logo {
    float: left;
    font-size: 260%;
    color: #0a0a0a;
    letter-spacing: 4px;
}

#navbar {
    font-size: 110%;
    letter-spacing: 2px;
    margin:0 10px 0 10px;
}

#navbar,
#logo {
    line-height: 75px;
}

#navbar li {
    float: right;
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
}

#navbar a {
    text-decoration: none;
    color:#000000;
}

#navbar a:hover {
    border-bottom: 1px dashed #000000;
    color: #dd7272;
}


/* ------------------------------------ Jumbotron */

.center {
    text-align: center;
}

#gallery-section {
    clear: both;
    position: static;
    height: 450px;
    background-color: #cfe2f3;
    width: 100%;
}

.display-4 {
    position: relative;
    margin-top: 25px;
    height: 80px;
}

p small {
    position: relative;
    height: 100px;
}

.gallery-button {
    height: 250px;
}

.gallery-button p {
    height: 200px;
    position: relative;
    bottom: 0;
}

.gallery-button p a {
    position: relative;
    margin-top: 100px;
}

.jumbotron .btn {
    position: relative;
    border: 1px solid #f0ad4e;
    border-radius: 5px;    
    bottom: 0;
}